<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="e4sm.de.metamodel.design.Activator"
               id="e4sm.de.metamodel.design"
	       name="sirius">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="e4sm.de.metamodel.design.OpenEmbeddedEditor"
           id="e4sm.de.metamodel.design.OpenEmbeddedEditor">
     </javaActions>
  </extension>
</plugin>
