<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated e4sm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="e4sm.de.metamodel.e4sm.presentation.e4smModelWizardID"
            name="%_UI_e4smModelWizard_label"
            class="e4sm.de.metamodel.e4sm.presentation.e4smModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/e4smModelFile.gif">
         <description>%_UI_e4smModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated e4sm -->
      <editor
            id="e4sm.de.metamodel.e4sm.presentation.e4smEditorID"
            name="%_UI_e4smEditor_label"
            icon="icons/full/obj16/e4smModelFile.gif"
            extensions="e4sm"
            class="e4sm.de.metamodel.e4sm.presentation.e4smEditor"
            contributorClass="e4sm.de.metamodel.e4sm.presentation.e4smActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated e4sm -->
      <editor
            id="e4sm.de.metamodel.e4sm.core.presentation.TypesEditorID"
            name="%_UI_CoreEditor_label"
            icon="icons/full/obj16/CoreModelFile.gif"
            extensions="core"
            class="e4sm.de.metamodel.e4sm.core.presentation.TypesEditor"
            contributorClass="e4sm.de.metamodel.e4sm.core.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated e4sm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="e4sm.de.metamodel.e4sm.analysis.presentation.AnalysisModelWizardID"
            name="%_UI_AnalysisModelWizard_label"
            class="e4sm.de.metamodel.e4sm.analysis.presentation.AnalysisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnalysisModelFile.gif">
         <description>%_UI_AnalysisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated e4sm -->
      <editor
            id="e4sm.de.metamodel.e4sm.analysis.presentation.AnalysisEditorID"
            name="%_UI_AnalysisEditor_label"
            icon="icons/full/obj16/AnalysisModelFile.gif"
            extensions="analysis"
            class="e4sm.de.metamodel.e4sm.analysis.presentation.AnalysisEditor"
            contributorClass="e4sm.de.metamodel.e4sm.analysis.presentation.AnalysisActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated e4sm -->
      <editor
            id="e4sm.de.metamodel.e4sm.analysis.results.presentation.ResultsEditorID"
            name="%_UI_ResultsEditor_label"
            icon="icons/full/obj16/ResultsModelFile.gif"
            extensions="results"
            class="e4sm.de.metamodel.e4sm.analysis.results.presentation.ResultsEditor"
            contributorClass="e4sm.de.metamodel.e4sm.analysis.results.presentation.ResultsActionBarContributor">
      </editor>
   </extension>

</plugin>
