<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="e4sm.de.json.converter.doConvert"
               label="Convert JSON to e4smcode"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.json">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="e4sm.de.json.converter.convertHandler"
            id="e4sm.de.json.converter.doConvert"
            name="doConvert">
      </command>
   </extension>

</plugin>
