<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SCPN -->
      <package
            uri="http://timenet.tu-ilmenau.de/schema/SCPN"
            class="de.ilmenau.tu.timenet.schema.scpn.scpnPackage"
            genModel="model/SCPN.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SCPN -->
      <parser
            type="scpn"
            class="de.ilmenau.tu.timenet.schema.scpn.util.scpnResourceFactoryImpl"/>
   </extension>
</plugin>
