<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension point="org.eclipse.core.runtime.products" id="product">
    <product name="E4SM Editor" application="org.eclipse.ui.ide.workbench">
      <property name="windowImages" value="icons/logo_16.gif,icons/logo_32.gif,icons/logo_64.gif"/>
      <property name="appName" value="E4SM Editor"/>
      <property name="aboutImage" value="icons/about.gif"/>
      <property name="aboutText" value="E4SM Editor &#x0A;&#x0A;Version  1.0.0&#x0A;&#x0A;&#x0A;(c) Copyright (c) 2019+ TU Ilmenau."/>
      <property name="startupForegroundColor" value="000000"/>
      <property name="startupMessageRect" value="3,300,495,15"/>
      <property name="startupProgressRect" value="3,315,495,15"/>
      <property name="preferenceCustomization" value="plugin_customization.ini"/>
      <property
            name="cssTheme"
            value="org.eclipse.e4.ui.css.theme.e4_default">
      </property>
    </product>
  </extension>
</plugin>
