<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="e4sm.de.intro.custom.intro">
      </intro>
      <introProductBinding
            introId="e4sm.de.intro.custom.intro"
            productId="e4sm.de.metamodel.design.CustomIDE">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="e4sm.de.intro.custom.introConfigId"
            introId="e4sm.de.intro.custom.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
